aws_region         = "us-east-1"
vpc_cidr           = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"

ami_id        = "ami-XXXXXXXX"
instance_type = "t3.micro"
key_name      = "cloud-devops-key"

# Replace with your own public IP
ssh_cidr = "42.10.10.2"
